*{
    list-style: none;
    box-sizing: border-box;
    cursor: pointer;
    font-family: sans-serif;
}
.menuicon{
  display: none;
}
.div3 .image img{
    width: 25%;
}

.search{
    width: 400px;
    height: 40px;
}

nav .ul{
    display: flex;
}
nav .ul li{
    padding-left: 30px;
}
nav .ul li:hover a{
    color: green;
    text-decoration: underline;
}
nav .ul li a{
    text-decoration: none;
    color: black;
}
nav .ul .shop{
    position: relative;
}
nav .ul .shop .dropdown{
    display: none;
}
nav .ul .shop:hover .dropdown{
    z-index: 1;
    width: 800px;
    padding: 50px;
    display: block;
    display: flex;
    position: absolute;
    left: -8cm;
    box-shadow: 1px 1px 5px gray;
    background-color: white;
}
nav .ul .shop li{
    line-height: 50px;
}

.sec2 .star button{
    transition: ease-in 0.5s;
    padding: 5px 15px;
    margin-left: 20px;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.616);
    border-radius: 50px;
    background: transparent;
}
.sec2 .star button:hover{
    transition: ease-out 0.5s;
    background-color: #095a09c0;
    color: white;
}


.open-buttons{
    position:absolute;
    top: 25px;
    color: green;
   font-size: 24px;
   cursor: pointer;
  
  
  }
  
  .offcanvasss{
  position: fixed;
    top: 0;
    right: -500px;
    width: 500px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.541);
    transition: 0.3s;
    padding: 20px;
    overflow: auto;
    z-index: 30;
  }
  .offcanvasss.active{
    right: 0;
    
  }
  .close-button{
    position: absolute;
    top: 10px;
    left: 10px;
  font-size: 24px;
    cursor: pointer;
  }
  .close-button:hover{
    background-color: rgb(78, 78, 78);
    color: rgb(248, 248, 248);
    border-radius: 50%;
    
  }


.list{
    display: flex;
    gap: 20px;
}
.boxss{
    position: relative;
    width: 16%;
    height: 365px;
    
    padding: 10px;
  }
  .boxx{
    position: relative;
    margin-left: 10px;
    margin-top: 30px;
    border: 1px solid rgba(69, 67, 67, 0.42);
  }
  .boxss .boxx .next-img{
    opacity: 0;
    position: absolute;
    left: 0;
    transition: 0.5s;

  }
  .boxx:hover .next-img{
    opacity: 1;
    transition: 0.5s;

  }
  .boxss .boxx .discount{
    position: absolute;
    top: 16px;
    left: 5px;
  }
  .boxss .boxx .discount span{
    background-color: red;
    color: white;
    font-weight: 700;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 20px;
   
  }

  .boxss .boxx  img{
    width: 100%;
 
  }
  .boxss .boxx .icon {
    
    position: absolute;
    opacity: 0;
    top: 25px;
    right: 15px;
    transition: 0.8s;
    z-index: 5;
    
  }
  .boxss .boxx .icon p{
    text-align: center;
    height: 35px;
    width: 35px;
    padding: 5px;
    font-size: 16px;
    border-radius: 50%;
    font-weight: 600;
    background-color: white;
   
  }
  .boxss .boxx .icon p:hover{
    border: 1px solid green;
  }
  .boxss .boxx:hover .icon{
    opacity: 1;
    transition: 0.3s;
   
    
  }
  .boxss .txt{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
   }
   .boxss .txt p{
    font-size: 14px;
    color: gray;
    padding: 5px;
    margin: 0;
  }
  .boxss .txt h5{
    font-size: 18px;
    font-weight: 700;
  }
  .boxss .txt span{
   color: rgb(24, 227, 24);
   font-weight: 600;
   font-size: 18px;
  }
  .boxss .add-card-btn{
    text-align: center;
    margin-top: -60px;
    margin-bottom: 10px;
    opacity: 0;
    transition:1s;
  }
  .boxss .boxx:hover .add-card-btn{
    opacity: 1;
    transition: 1s;
  }
  .boxss .add-card-btn button {
    width: 90%;
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    background-color: rgb(6, 78, 6);
  }
  .boxss .add-card-btn button:hover{
    background-color: rgb(9, 206, 9);
  }

/* sec3 end */

.sec4 .btn-2 button{
    transition: ease-in 0.5s;
    padding: 5px 15px;
    margin-right: 20px;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.616);
    border-radius: 50px;
    background: transparent;
}
.sec4 .btn-2 button:hover{
    background-color: #095a09c0;
    color: white;
}

.sec5 .cmn-btn button{
    padding: 5px 15px;
    align-items: center;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.616);
    border-radius: 50px;
    background: transparent;
}
.sec5 .all-img{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.sec5 .all-img .cmn-img{
    width: 10%
}
.sec5 .all-img .cmn-img{
    overflow: hidden;
    transform: scale(1,1);
    transition: 0.5s;
}
.sec5 .all-img .cmn-img:hover img{
    transform: scale(1.05,1.05);
    transition: 0.5s;
}
.sec5 .all-img .cmn-img p{
    padding-top: 10px;
    text-align: center;
}
.sec5 .all-img .cmn-img:hover p{
   color: green;
   text-decoration: underline;
}


.sec6{
    width: 90%;
    margin: 0 auto;
}
.sec6 .boxs{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}
.sec6 .boxs .box{
    margin: auto;
    padding: 60px;
    width: 45%;
    border: 1px solid gray;
    box-shadow: 1px 1px 7px gray;
   
}

.sec7{
    width: 100%;
}
.slider-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.171);
    margin-top: 10px;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 3px;
  }
  .slider-container{
    position: relative;
    width: 90%;
    /* max-width: 800px; */
    overflow: hidden;
  }
  .slider{
    display: flex;
    transition: transform 0.4s ease;
  }
  .slides{
    padding: 20px;
    text-align: center;
    width: 100%;

  }
  .slides img{
    width: 100%;
    height: 200px;
  }

  .arrow{
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    border: 1px solid black;
    padding: 8px 16px;
    z-index: 10;
    cursor: pointer;
    border-radius: 5px;
    font-size: 24px;

  }
  .left-arrow{
    left: 10px;
  }
  .right-arrow{
    right: 10px;
  }
  .arrow:hover{
    background-color: lightblue;
  }
  .arrow:active{
    transform: translateY(-50%) scale(0.95);
  }

footer .top-f{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    line-height: 50px;
}
footer .top-f .div{
    padding: 50px;
}
footer .top-f .f-img{
    width: 60%;
}
footer .top-f h6{
    font-weight: bold;
}
footer .top-f li:hover{
    color: green;
    text-decoration: underline;
}
footer .btm-f{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



@media screen and (max-width:900px){
    .div2{
        display: none;
    }
    nav{
        display: none;
    }
    .fevrate{
        display: none;
    }
    
}


@media screen and (max-width:1025px){
    footer .top-f .f-img{
        width: 100%;
    }
}
@media screen and (max-width:769px){
    .div3 .menuicon{
        padding-top: 30px;
        display: block;
        font-size: 30px;
    }
    .div3 .image{
        width: 100% !important; 
        text-align: center;
    }
    .div3 .search{
        display: none;
    }
    .div3 .register{
        display: none;
    }
    .div3 .fevrate{
        padding-top: 30px;
    }
    .div3 .cart{
        padding-top: 30px;
    }


    footer .top-f{
        grid-template-columns: repeat(1,1fr);
        gap: 0px;
        line-height: 50px;
    }
    footer .top-f .div{
        text-align: center;
        padding: 0px;
        margin-top: 50px;
    }
    footer .top-f .f-img{
        width: 30%;
    }


    footer .btm-f{
        flex-direction: column;
        text-align: center;
    }
    .slides img{
        width: 100px;
        height: 150px;
      }
}




@media screen and (max-width:426px){
    .sec2 .star .hide{
        display: none;
    }

    .div3 .image{
        padding-top: 20px;
        width: 100% !important; 
        text-align: center;
    }
    .sec4 .btn-1 button{
        margin: 10px 0;
    }
    .sec4 .btn-2 button{
        margin:0;
    }
    .sec5 .cmn-btn .hide{
        display: none;
    }
    .sec5 .all-img{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .sec5 .all-img .cmn-img{
        width: 50%;
    }
    .sec6 .boxs{
        flex-direction: column;
    }
    .sec6 .boxs .box1{
        display: none;
    }
    .sec6 .boxs .box{
        margin: auto;
        padding: 0px;
        width: 100%;
        border: 1px solid gray;
        box-shadow: 1px 1px 7px gray;
    }
    

}